<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor"
        type="ExtendedCms.TinyMceEnhancements.TinyMceEnhancementsModule, ExtendedCms.TinyMceEnhancements"
        authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve"
        preferredUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="ExtendedCms.TinyMceEnhancements" />
    </assemblies>

    <clientModule initializer="extended-cms-tinymce-enhancements/initializer">
      <moduleDependencies>
        <add dependency="EPiServer.Cms.TinyMce" type="RunAfter" />
      </moduleDependencies>
    </clientModule>

    <dojo>
      <paths>
        <add name="extended-cms-tinymce-enhancements" path="ClientResources" />
      </paths>
    </dojo>
</module>
